<div class="app-container">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <a mat-list-item routerLink="/">
          <mat-icon>home</mat-icon>
          Home
        </a>
        <a mat-list-item routerLink="/html">
          HTML
        </a>
        <a mat-list-item routerLink="/css">
          CSS
        </a>
        <a mat-list-item routerLink="/javascript">
          JAVASCRIPT
        </a>
        <a mat-list-item [matMenuTriggerFor]="ts">
          TYPESCRIPT
          <mat-icon matSuffix>expand_more</mat-icon>
        </a>
        <mat-menu #ts="matMenu">
          <a mat-menu-item routerLink="/typescript/Classes">Classes</a>
          <a mat-menu-item routerLink="/typescript/ControlFlowAnalysis">Control Flow Analysis</a>
          <a mat-menu-item routerLink="/typescript/Interfaces">Interfaces</a>
          <a mat-menu-item routerLink="/typescript/Types">Types</a>
        </mat-menu>
        <a mat-list-item routerLink="/mongodb">
          MONGODB
        </a>
        <a mat-list-item routerLink="/angular">
          ANGULAR
        </a>
        <a mat-list-item routerLink="/nest">
          NEST
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>CheatSheet</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>